{% extends 'base.html' %}
{% block homeactive %}active{% endblock homeactive %}
{% block title %} Home{% endblock title %}

{% block body %}

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active"  style ="height: 360px;">
        <img style="width:100%; height:360px" src="https://source.unsplash.com/random/?nature,morning" alt="First slide">
      </div>
      <div class="carousel-item" style ="height: 360px;">
        <img style="width:100%; height:360px;"  src="https://source.unsplash.com/random/?river,evening" alt="Second slide">
      </div>
      <div class="carousel-item" style ="height: 360px;">
        <img style="width:100%; height:360px"  src="https://source.unsplash.com/random/?mountains" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


<div class="container my-3">
<div class="jumbotron my-3 rounded" style='background-color: #c8b39366'>
  <h1 class="display-4"><b style="color: #714717;">Welcome to iCoder!</b></h1>
  <p class="lead" style="color: #714717;">As a fellow coder, I’m thrilled to have you here. Whether you’re a seasoned developer or just starting your coding journey, this blog is your tech haven. Expect insightful articles, practical tips, and code snippets galore. </p>
  <hr class="my-4">
  <p style="color: #714717;">This is the website for coding blogs.</p>
  <a class="btn btn-primary btn-lg" href="/blog" role="button" style='background-color: #987608c7;
  border-color: #867102;'>Go to Blog</a>
  </div>
</div>
<div class="container">
    <h2 style="color: #714717;">Popular Blogposts</h2>
    <div class="container my-3">
      <h2 style='color:#714717'>Coding Articles by iCoder</h2>
      
      {% for post in allPosts %}
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 my-4 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 " style='color:#c07620'>Article  by {{post.author}}</strong>
              <h3 class="mb-0" style="color: #714717;">{{post.title}}</h3>
              <div class="mb-1 text-muted">{{post.datetime}}</div>
              <p class="card-text mb-auto" style="color: #bb813f">{{post.content| truncatechars:500}}</p>
              <div class="my-2">
                <a href="/blog/{{post.slug}}" role="button" class="btn btn-primary" style='background-color: #987608c7;
                  border-color: #867102;'>Continue reading</a>
              </div>
              
          </div>
    
          </div>
  
          {% endfor %}
      </div>
</div>
{% endblock body %}
